html, body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #4A92C9;
}

main#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 300px;
}

.conversation-head {
  border-bottom: 1px solid grey;
  padding: 15px;
}
.user-listing {
  display: flex;
}
.user-icon {
  font-size: 35px;
  line-height: 49px;
  margin-right: 15px;
}

.chat-window {
  display: flex;
  flex-direction: column;
  padding: 40px;
  overflow-y: scroll;
  height: 90%;
  background-color: #F6F6F6;
}

.chat-input-container {
  display: flex;
  height: 45px;
}
.chat-input-container input {
  width: 90%;
  border: none;
  padding-left: 15px;
  font-size: 15px;
}
.chat-input-container input::placeholder {
  font-size: 15px;
}
.chat-input-container button:focus, input:focus {
  outline: none;
}
.chat-input-container button {
  width: 10%;
  font-size: 20px;
  color: #4A92C9;
  border: none;
  background-color: white;
  cursor: pointer;
}

.message {
  align-self: flex-start;
  padding:  10px;
  margin: 2px;
  width: fit-content;
  background-color: #E5E4E5;
}
.message.message-own {
  align-self: flex-end;
  background-color: #4A92C9;
}
